<!DOCTYPE html>
<html>
<head>
	<title>Outside The Box</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
	<% include partials/navbar.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<% include partials/alerts.ejs %>
				<%- body %>
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="/routing.js"></script>
</body>
</html>