<h2>PROFILE</h2>
<div>
	<h3>Welcome back, <%= currentUser.displayName %>!</h3>
</div>
<div>
	<h3>Posts I Wrote</h3>
</div>
<div>
	<h3>Posts I'm Following</h3>
	<ul>
		<% trackedPosts.forEach(function(post){ %>
			<li><a href="/posts/<%=post.id%>"><%=post.subject%></a></li>
		<% }); %>
	</ul>
</div>
