<h2>SITES PAGE!</h2>

<div>
	<% sites.forEach(function(site) { %>
		<div class="well">
			<h2><a href="<%=site.url%>"><%=site.name%></a></h2>
			<h4><a href="/posts?siteId=<%=site.id%>&topicId=all"><%=site.abbreviation%> Posts</a></h4>
		</div>
	<% }); %>
</div>