<h1>Create a new post</h1>

<form action="/posts" method="POST">
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" name="subject" required>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" name="content" required>
  </div>

  <div class="form-group">
    <label for="site">Sites:</label>
    <select class="form-control" name="siteId" id="site">
      <% sites.forEach(function(site) { %>
          <option value="<%=site.id%>" ><%= site.name %></option>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label>Topics:</label>
    <input type="text" name="topics" placeholder="comma-separated list of topics" class="form-control">
  </div>

  <input type="hidden" name="userId" value="<%=user.id%>">

  <input type="submit" class="btn btn-primary">
</form>